{% extends "::base.html.twig" %}

{% block title %}PlatformBundle:Query:list{% endblock %}

{% block body %}
    <h1>Listes des articles par category</h1>
    <ul>
        {% for category, article in articles %}
            <ul>
                <li>{{ category }}
                    <ul>
                        {% for a in article %}
                            <li>{{ a.title }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </ul>

{% endblock %}